reports/.DS_Store
.DS_Store
__pycache__/functions.cpython-312.pyc
__pycache__/plotfun.cpython-312.pyc
two-dimensional-xdsm.tex
list_fonts.py
two-dimensional-xdsm.tikz
two-dimensional.tikz
two-dimensional.tex
